.banner-hero {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    &.home {
        height: 100vh;
        background-image: url(~/assets/images/Luara_Cesaretti_Fine_Art_Portrait_Photography_home.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &.service {
        height: 50vh;
        background: rgb(231, 225, 218);
        background: linear-gradient(180deg,
                rgba(231, 225, 218, 1) 0%,
                rgba(255, 255, 255, 1) 100%);
    }

    h1 {
        font-family: "Poppins";
    }

    h2 {
        font-family: "Poppins";
        letter-spacing: 3px;
        text-transform: uppercase;
        display: block;
        font-size: 12px;
    }
}