footer {
    margin-top: 200px;
    padding: 0 2%;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg,
            rgba(255, 255, 255, 1) 0%,
            rgba(231, 225, 218, 1) 100%);


    .footer-sections {
        gap: 40px 0;

        .priacy-policy {
            font-size: 12px;
            padding: 15px 0;
        }
    }

    .rights {
        font-size: 11px;
    }

    .footer-divider {
        border-top: 1px solid #d4d4d4;
    }

    .footer-text-lighter {
        color: #797979;
    }

    .matteofelicidesign {
        color: #22a892 !important;
    }

    .footer-list {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        gap: 10px 0;

        &.social {
            flex-direction: row;
            gap: 0 15px;
        }

        li {
            color: #797979;

            &:hover {
                color: #222222;
            }
        }
    }

}