.header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    top: 0;
    z-index: 1000;
    transition: 1s;

    .logo {
        border-bottom: none;
    }

    .main-menu {
        align-items: center;
        flex-direction: row;
        gap: 0 30px;

        li,
        .dropdown-toggle {
            font-weight: 500;
            transition: .4s all;
            font-size: 16px;

            a.nuxt-link-exact-active {
                color: black !important;
            }
        }

    }

}

.main-menu a:hover {
    cursor: pointer;
    color: black !important;
    transition: .1s all;
}

a.nuxt-link-exact-active {
    color: black !important;
}


//  MOBILE MENU


.overlay {
    background-color: #ffffff;
    position: fixed;
    height: 100vh;
    width: 100%;
}

// Dropdown

.btn-link {
    color: inherit !important;
    box-shadow: none !important;
}

.dropdown-menu {
    padding: 10px !important;

    .dropdown-item {
        border-radius: 4px;
        padding: 4px 10px !important;
        color: #6c757d !important;

        &:active {
            background-color: transparent;
            color: black !important;
        }
    }
}