$enable-responsive-font-sizes: true;

// need to review it
body,
html {
  font-family: "Poppins" !important;
}

a {
  color: inherit !important;
  text-decoration: none;

  &:hover {
    text-decoration: none !important;
  }
}





.main-paragraph {
  padding: 150px 0;
  // background: rgb(231, 225, 218);
  // background: linear-gradient(180deg,
  //         rgba(231, 225, 218, 1) 0%,
  //         rgba(255, 255, 255, 1) 100%);
}










// CATEGORY CONTAINER

.category-container {
  display: flex;
  align-items: center;

  .wrapper-test {
    overflow: hidden;

    .category-section {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      aspect-ratio: 1 / 1;
      background-position: center;
      background-size: cover;
      //background-repeat: no-repeat;
      color: white;
      text-align: center;
      transform: scale(1);
      height: 100%;
      width: 100%;
      transition: all 0.5s;

      &:hover {
        transform: scale(1.2);
      }

      h2 {
        font-family: "Poppins";
        font-size: 42px;
      }
    }
  }

  .category-section::before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(34, 34, 34, 0.65);
  }

  .wrapper-test:hover .category-section:before,
  .wrapper-test:focus .category-section:before {
    display: block;
  }

  .category-title {
    color: white;
    /* Good thing we set a fallback color! */
    font-family: sans-serif;
    padding: 25%;
    position: absolute;
    opacity: 0.6;

  }

  @media (max-width: 992px) {
    .category-title {
      opacity: 1 !important;
    }
  }

  .category-section:hover .category-title,
  .category-section:focus .category-title {
    opacity: 1;
    transition: all 0.5s;
  }

  #fineArt {
    background-image: url(~assets/images/Laura_Cesaretti_Photography_Fine_Art.jpg);
  }

  #lifeStyle {
    background-image: url(~assets/images/Laura_Cesaretti_Maternità_Life_Style.jpg);
  }

  #neonato {
    background-image: url(~assets/images/Laura_Cesaretti_Photography_Neonato.jpg);
  }

  #bebe {
    background-image: url(~assets/images/Laura_Cesaretti_Photography_Bebè.jpg);
  }

  #cakeSmash {
    background-image: url(~assets/images/Laura_Cesaretti_Photography_Cake_Smash.jpg);
  }
}

@media (max-width: 768px) {
  .category-container {
    flex-wrap: wrap;
  }
}



// NEW DESIGN

.index-wrapper {
  overflow: hidden;
}

.index-img-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;

  h2 {
    z-index: 999;
    font-family: "Poppins";
    font-size: 42px;
  }

  p {
    font-family: "Poppins";
    z-index: 999;
    font-size: 16px;
    display: none;
    margin-top: 100px;
  }

  img {
    transform: scale(1);
    transition: ease-in-out 0.5s;
    filter: brightness(50%);
  }

  &:hover {
    img {
      transform: scale(1.2);
      filter: brightness(100%);
    }

    p {
      display: block;
    }
  }
}










// Actual page



.service-description {
  h2 {
    margin-bottom: 20px;
  }

  p {
    font-weight: 300;
  }

  h5 {
    color: #75245a;
  }
}


// CAROUSEL

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

// btn

.btn {
  box-shadow: none !important;
}